{{ form_start(form) }}
 <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
  
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
