{% extends 'welcome.html.twig' %}

{% block title %}Edit Agents{% endblock %}

{% block content %}

    <h1>Edit Agents</h1>

    {{ include('agents/_form.html.twig', {'button_label': 'Update'}) }}

    <a type="button" class="btn" href="{{ path('agents_index') }}">Retour</a>

    {{ include('agents/_delete_form.html.twig') }}
{% endblock %}
