{% extends 'welcome.html.twig' %}

{% block title %}Ajouter  Agents{% endblock %}

{% block main %}

    <h1>Ajouter Agents</h1>

    {{ include('agents/_form.html.twig') }}

    <a type="button" class="btn" href="{{ path('agents_index', {'page': 1}) }}">Retour</a>
{% endblock %}
