{% extends 'base.html.twig' %}

{% block title %}New TypeDeMissions{% endblock %}

{% block body %}
    <h1>Create new TypeDeMissions</h1>

    {{ include('type_de_missions/_form.html.twig') }}

    <a href="{{ path('type_de_missions_index') }}">back to list</a>
{% endblock %}
