{% extends 'welcome.html.twig' %}

{% block title %}Ajouter  Missions{% endblock %}

{% block main %}
    <h1>Ajouter Missions</h1>

    {{ include('missions/_form.html.twig') }}

    <a type="button" class="btn" href="/missions/list/1">Retour</a>
{% endblock %}
