{% extends 'welcome.html.twig' %}

{% block title %}Ajouter  Planques{% endblock %}

{% block main %}
    <h1>Ajouter Planques</h1>

    {{ include('planques/_form.html.twig') }}

    <a type="button" class="btn" href="{{ path('planques_index', {'page': 1}) }}">Retour</a>
{% endblock %}
