@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

html, 
body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-image:  url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    
    background-position-y: bottom;
    background-color: #121013;
    color: rgb(236, 225, 225);
    font-family: 'Inconsolata', monospace;
}

h1,
form {
    margin-top: 4rem;
    margin-inline: 3rem;
}

.nav,
.fond-gris {
    width: auto;
    font-size: 1.5rem;
    background-color: #272f3b9a;
    color: rgb(236, 225, 225);
}

label,
input,
select,
#agents_date_de_naissance {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
}

.btn {
    font-size: 1rem;
    background-color: #272f3b;
    border: 0;
    color: aliceblue;
    margin: 1rem;
}

.admin-buttons {
    position: absolute;

    top: 1rem;
    right: 1rem;
}

.table,
.listes {
    width: 70%;
    font-size: 1.5rem;
    background-color: #272f3b9a;
    color: rgb(236, 225, 225);
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    border-radius: 1rem 1rem 0 0;
    padding: 20%;
}

.paging {
    display: inline-flex;
    margin: 0;
    margin-inline-start: 1rem;
    width: 2rem;
    padding-left: auto;
    justify-content: center
}

body > table > tbody > tr > td,
body > table > tbody > tr > td > .btn {
    line-height: 1.5rem;
    margin: auto;
}