{% extends 'base.html.twig' %}

{% block title %}Edit TypeDePlanques{% endblock %}

{% block body %}
    <h1>Edit TypeDePlanques</h1>

    {{ include('type_de_planques/_form.html.twig', {'button_label': 'Update'}) }}

    <a type="button" class="btn" href="{{ path('type_de_planques_index') }}">Retour</a>

    {{ include('type_de_planques/_delete_form.html.twig') }}
{% endblock %}
