{% extends 'base.html.twig' %}

{% block title %}New TypeDePlanques{% endblock %}

{% block body %}
    <h1>Create new TypeDePlanques</h1>

    {{ include('type_de_planques/_form.html.twig') }}

    <a type="button" class="btn" href="{{ path('type_de_planques_index') }}">Retour</a>
{% endblock %}
