{% extends 'base.html.twig' %}

{% block title %}New Cibles{% endblock %}

{% block body %}
    <h1>Create new Cibles</h1>

    {{ include('cibles/_form.html.twig') }}

    <a href="{{ path('cibles_index') }}">back to list</a>
{% endblock %}
