{% extends 'base.html.twig' %}

{% block title %}New Cibles{% endblock %}

{% block body %}
    <h1>Create new Cibles</h1>

    {{ include('cibles/_form.html.twig') }}

    <a type="button" class="btn btn-primary" href="{{ path('cibles_index') }}">Retour</a>
{% endblock %}
