{% extends 'base.html.twig' %}
{% block title %}Welcome{% endblock %}

{% block body %}
<h1>Welcome {{ name }} !</h1>
<a type="button" class="btn btn-primary" href="{{ path('login') }}">Login</a>

<a type="button" class="btn btn-primary" href="/admin">Admin</a>
<a type="button" class="btn btn-primary" href="/agents">Agents</a>
<a type="button" class="btn btn-primary" href="/cibles">Cibles</a>
<a type="button" class="btn btn-primary" href="/contacts">Contacts</a>
<a type="button" class="btn btn-primary" href="/missions">Missions</a>
<a type="button" class="btn btn-primary" href="/nomdecode">Nom De Code</a>
<a type="button" class="btn btn-primary" href="/pays">Pays</a>
<a type="button" class="btn btn-primary" href="/planques">Planques</a>
<a type="button" class="btn btn-primary" href="/register">Register</a>
<a type="button" class="btn btn-primary" href="/specialites">Specialites</a>
<a type="button" class="btn btn-primary" href="/status">Status</a>
<a type="button" class="btn btn-primary" href="/typedemissions">Type De Missions</a>
<a type="button" class="btn btn-primary" href="/typedeplanques">Type De Planques</a>
{% endblock %}