{% extends 'base.html.twig' %}
{% block title %}Welcome{% endblock %}

{% block body %}
<h1>Welcome {{ name }} !</h1>
<button type="button" class="btn btn-primary" href="{{ path('login') }}">Login</button>

<button type="button" class="btn btn-primary" href="{{ path('login') }}">Login</button>
{% endblock %}