{% extends 'base.html.twig' %}

{% block title %}Edit NomDeCode{% endblock %}

{% block body %}
    <h1>Edit NomDeCode</h1>

    {{ include('nom_de_code/_form.html.twig', {'button_label': 'Update'}) }}

    <a type="button" class="btn btn-primary" href="{{ path('nom_de_code_index') }}">back to list</a>

    {{ include('nom_de_code/_delete_form.html.twig') }}
{% endblock %}
