{% extends 'base.html.twig' %}

{% block title %}New NomDeCode{% endblock %}

{% block body %}
    <h1>Create new NomDeCode</h1>

    {{ include('nom_de_code/_form.html.twig') }}

    <a type="button" class="btn btn-primary" href="{{ path('nom_de_code_index') }}">back to list</a>
{% endblock %}
