{% extends 'welcome.html.twig' %}

{% block title %}Ajouter  Pays{% endblock %}

{% block main %}
    <h1>Ajouter Pays</h1>

    <a type="button" class="btn" href="{{ path('pays_index', {'page': 1}) }}">Retour</a>

    {{ include('pays/_form.html.twig') }}
{% endblock %}
